body {
    height: 100vh;
    margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-bottom: 50px;
}

ul {
    display: contents;
    margin-top: 2.5rem;
}

li {
    display: flex;
    justify-content: center;
    gap: 1rem;

    list-style: none;
}

.delete-btn {
    border: 1px solid black;
    background-color: red;
    padding: 0 0.5rem 0 0.5rem;
}